@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Custom styles */
:root {
  --background: #ffffff;
  --foreground: #318ce1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf8f8;
    --foreground: #0c0101;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Home Page Styles */
.home-page {
  @apply bg-gray-100 text-gray-900;
}

/* Login Page Styles */
.login-page {
  @apply bg-blue-50 text-blue-900;
}

/* Dashboard Page Styles */
.dashboard-page {
  @apply bg-white text-gray-800;
}

/* Cart Page Styles */
.cart-page {
  @apply bg-yellow-50 text-yellow-900;
}

/* Profile Page Styles */
.profile-page {
  @apply bg-green-50 text-green-900;
}

/* Shop Page Styles */
.shop-page {
  @apply bg-purple-50 text-purple-900;
}

/* Reset Password Page Styles */
.reset-password-page {
  @apply bg-red-50 text-red-900;
}

/* Sign Up Page Styles */
.sign-up-page {
  @apply bg-pink-50 text-pink-900;
}
